body {
    font-family: "Segoe UI", sans-serif;
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2b2b2b;
    text-align: center;
    padding: 2rem 1rem;
}

h1 {
    color: #00ff99;
    margin-bottom: 0.3rem;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}
.command {
    background: #2c2c2c;
    border-left: 4px solid #00ff99;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}